<%= link_to "", edit_user_path(@user.id), class: 'btn btn-outline-secondary btn-block' %>
<h2>New Book</h2>
<%= form_with model: @book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' , class: "btn btn-success"%>
<% end %>